@use './variables' as *;
$primary-color: #021020;
$hover-color: #007bff;
.contact-section {
  padding: 40px 0;
  //background-color: $light-gray; // Using light-gray from variables for consistency

  .section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: $primary-color; // Color from variables
    margin-bottom: 20px;
  }

  .contact-form {
    //background-color: #ffffff; // White color for form background
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .ant-form-item-label > label {
      color: $primary-color; // Label color from variables
      font-weight: bold;
      font-size: 1rem;
    }

    .ant-input,
    .ant-input-textarea {
      border-radius: 4px;
      border: 1px solid $primary-color; // Border using primary color
      padding: 10px;
      font-size: 0.9rem;
      //color: $text-color; // Text color from variables
    }

    .submit-button {
      width: 100%;
      background-color: $primary-color; // Background color for the submit button
      border: none;
      //color: #ffffff; // White text color for the button
      font-weight: bold;
      transition: background-color 0.3s ease;

      
    }
  }

  @media (max-width: $breakpoint-md) { // Using breakpoint from variables
    .section-title {
      font-size: 20px;
    }

    .contact-form {
      padding: 15px;

      .ant-form-item-label > label {
        font-size: 0.95rem;
      }
    }
  }
}
